<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="2715sarunas.eu.SmartRacer" Publisher="CN=7D9BE28C-B2EA-4D86-AD9C-4FB84CD44024" Version="2.1.0.18" />
  <Properties>
    <DisplayName>Smart Racer</DisplayName>
    <PublisherDisplayName>sarunas.eu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="App1.App">
      <m2:VisualElements DisplayName="Smart Racer" Description="Use your tablet to control simple RC cars instead of using a remote controller. NOTE: you have to upgrade/hack your RC car according those instructions yourself by adding Bluetooth Smart support to the RC car: https://github.com/drme/ble-rc" BackgroundColor="#70b347" ForegroundText="light" Square150x150Logo="Assets\sr_270x270.png" Square30x30Logo="Assets\SmallLogo.png" ToastCapable="true">
        <m2:DefaultTile ShortName="SmartRacer" Wide310x150Logo="Assets\sr_558x270.png" Square70x70Logo="Assets\sr_126x126.png" Square310x310Logo="Assets\sr_558x558.png" DefaultSize="square150x150Logo">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
            <m2:ShowOn Tile="wide310x150Logo" />
            <m2:ShowOn Tile="square310x310Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="landscape" />
        </m2:InitialRotationPreference>
        <m2:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="#70b347" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
      <m2:Device Id="any">
        <m2:Function Type="serviceId:a739acc0-f6cd-1692-994a-d66d9e0ce048" />
        <m2:Function Type="serviceId:0000ACC0-0000-1000-8000-00805f9b34fb" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
</Package>