<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="2715sarunas.eu.BleZee" Publisher="CN=7D9BE28C-B2EA-4D86-AD9C-4FB84CD44024" Version="3.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="6f374ab9-06ae-40e8-b84d-b022b664c0ce" PhonePublisherId="5dcf2ffe-8890-4d5f-a8e9-35b1e447e176" />
  <Properties>
    <DisplayName>BleZee</DisplayName>
    <PublisherDisplayName>sarunas.eu</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="AGHost.exe" EntryPoint="SmartRacer.Shared;component/MainPage.xaml">
      <m3:VisualElements DisplayName="BleZee" Square150x150Logo="Assets\SquareTile150x150.png" Square44x44Logo="Assets\Logo.png" Description="Use your Windows Phone to control Mini-Z cars. We have developed special control board for your old or new Mini-Z car (available at https://www.tindie.com/products/SingletonLabs/ble-for-mini-z/), that could be installed in Mini-Z chassis." ForegroundText="light" BackgroundColor="#678dde">
        <m3:DefaultTile Square71x71Logo="Assets\SquareTile71x71.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
      </m3:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="AgHost.BackgroundTask">
          <BackgroundTasks>
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <m2:DeviceCapability Name="bluetooth.genericAttributeProfile">
      <m2:Device Id="any">
        <m2:Function Type="serviceId:1803" />
        <m2:Function Type="serviceId:0000acc0-0000-1000-8000-00805f9b34fb" />
        <m2:Function Type="serviceId:a739acc0-f6cd-1692-994a-d66d9e0ce048" />
      </m2:Device>
    </m2:DeviceCapability>
  </Capabilities>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>AgHostSvcs.dll</Path>
        <ActivatableClass ActivatableClassId="AgHost.BackgroundTask" ThreadingModel="both" />
      </InProcessServer>
    </Extension>
  </Extensions>
</Package>